<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dubbo.user.mapper.TUserMapper">

    <select id="page" resultType="com.dubbo.user.entity.TUser">
        select id, username, password, age from t_user where age = 1 order by age limit 1
    </select>
</mapper>
